{% extends "layout.html" %}
{% block content %}

{% include '_fact_check.html' %}

{% if similar_fact_checks|length > 0 %}
<div class="columns pt-2 mt-2 pb-2 mb-2">
    <div class="column col-12 mt-2 pt-2 mb-2 pb-2">
        <h4>
            {% if language == 'sk' %}Podobné tvrdenia{% else %}Similar Fact Checks{% endif %}
        </h4>
    </div>
    {% for fact_check in similar_fact_checks %}
    <div class="column col-12 mt-2">
        <h6>
            <a href="{{ fact_check.path() }}">{{ fact_check.get_statement() }}</a>
        </h6>
    </div>
    <div class="column col-6 mb-2 pb-2">
        {{ fact_check.published_at.strftime("%b %d, %Y") }},
        <a href="{{ fact_check.url }}">{{ fact_check.domain() }}</a>
    </div>
    <div class="column col-6 text-right mb-2 pb-2">
        <div class="{{ fact_check.rating_style() }}">
            {{ fact_check.get_rating() }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if fact_check.num_articles() > 0 %}
    {% set article_mappings = fact_check.get_article_mappings() %}
    {% include '_article_mappings.html' %}
{% endif %}

{% endblock %}