{% extends "layout.html" %}
{% block content %}

<div class="text-center m-2 p-2">
    <a href="/">
        <img src="/images/icon.png" style="width: 64px; height: 64px">
    </a>
</div>

<h3 class="text-center">
    {{ fact_check['claim'] }}
</h3>

<p>
    {{ fact_check['description'] }}
</p>

<div class="text-center text-error text-large m-2 p-2">
    Verdict: {{ fact_check['rating']['overall_rating'] }}
</div>

<div class="text-center m-2 p-2">
    <a href="{{ fact_check['url'] }}" class="btn btn-lg">
        Source: {{ fact_check['domain']}}
    </a>
</div>

{% if articles.shape[0] > 0 %}

<div class="columns pt-2 mt-2">
    <div class="column col-12 mt-2 pt-2 mb-2 pb-2">
        <h4>Articles Found on the Web</h4>
    </div>
    {% for _, article in articles.iterrows() %}
    <div class="column col-12 mt-2">
        <h6>
            <a href="{{ article['url'] }}" rel="nofollow">
                {{ article['title'] }}
            </a>
        </h6>
    </div>
    <div class="column col-6 mb-2 pb-2">
        {{ article['domain'] }}
    </div>
    <div class="column col-6 mb-2 pb-2 text-right">
        <div class="text-error">Likely Contains</div>
    </div>
    {% endfor %}
</div>

{% endif %}

{% endblock %}