{% extends "layout.html" %}
{% block content %}

<h3>Covid-19 related fact-checks</h3>

<div class="columns">
    {% for _, fact_check in fact_checks.iterrows() %}
    <div class="column col-6 p-2">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">
                    <a href="/fact_checks/{{ fact_check['id'] }}.html">{{ fact_check['claim'] }}</a>
                </div>
                <div class="card-subtitle text-error">{{ fact_check['rating']['overall_rating'] }}</div>
            </div>
            <div class="card-body">
                {{ fact_check['description'][:500] }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}