{% extends "layout.html" %}
{% block content %}

<div class="hero hero-sm">
    <div class="hero-body">
        <h3 class="text-center">
            Fact checks related to Covid-19.
        </h3>

        {% include 'fact_checks_chart.html' %}
    </div>
</div>

<div class="columns">
    {% for fact_check in fact_checks %}
    <div class="column col-12 mt-2 pt-2">
        <h5>
            <a href="{{ fact_check.path() }}">{{ fact_check.statement }}</a>
        </h5>
    </div>
    <div class="column col-6">
        {{ fact_check.published_at.strftime("%b %d, %Y") }},
        <a href="{{ fact_check.url }}">{{ fact_check.domain() }}</a>
    </div>
    <div class="column col-6 text-right">
        <div class="{{ fact_check.rating_style() }}">{{ fact_check.rating }}</div>
    </div>
    <div class="column col-12">&nbsp;</div>
    {% endfor %}
</div>

{% endblock %}