{% extends "pure_layout.html" %}
{% block body_content %}

<script>
    var language = '{{ language }}';
</script>

<div class="container grid-lg">
    <header class="navbar">
        <section class="navbar-section">
            <a href="/graph" class="btn btn-link">
                {% if language == 'sk' %}Sieť dezinformácii{% else %}Web of misinfo{% endif %}
            </a>
        </section>
        <section class="navbar-center">
            <a href="/" class="navbar-brand mr-2">
                {% if language == 'sk' %}CovidDez.info{% else %}CovidMis.info{% endif %}
            </a>
        </section>
        <section class="navbar-section">
            <a href="/about" class="btn btn-link">
                {% if language == 'sk' %}O projekte{% else %}About{% endif %}
            </a>
        </section>
    </header>

    {% block content %}{% endblock %}
</div>

<div class="text-center text-gray" style="font-size: small; margin-top: 50px; margin-bottom: 50px">
    {% if language == 'sk' %}
    Súčasťou projektu <a href="https://misdeed.fiit.stuba.sk">MISDEED</a> na <a href="https://www.fiit.stuba.sk">FIIT STU</a>.
    Beží na platforme <a href="https://documenter.getpostman.com/view/8615295/SVtPWq1j?version=latest">MonAnt</a>.
    Stránku vytvoril <a href="https://matus.tomlein.org">Matúš Tomlein</a>.
    {% else %}
    Part of the <a href="https://misdeed.fiit.stuba.sk">MISDEED</a> project at <a href="https://www.fiit.stuba.sk">FIIT STU</a>.
    Powered by the <a href="https://documenter.getpostman.com/view/8615295/SVtPWq1j?version=latest">MonAnt</a> platform.
    Put together by <a href="https://matus.tomlein.org">Matúš Tomlein</a>.
    {% endif %}
</div>

{% endblock %}