<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{% if language == 'sk' %}Preverené tvrdenia o víruse Covid-19.{% else %}Fact checks related to Covid-19.{% endif %}">
    <meta name="author" content="Matúš Tomlein">

    <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" href="/assets/stylesheets/spectre.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/spectre-exp.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/spectre-icons.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/Chart.min.css">
    <script type="text/javascript" src="/assets/javascripts/force-graph.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/moment.js"></script>
</head>

<body>

    <header class="navbar">
        <section class="navbar-section"></section>
        <section class="navbar-center">
            <a href="/" class="navbar-brand mr-2">
                {% if language == 'sk' %}CovidDez.info{% else %}CovidMis.info{% endif %}
            </a>
        </section>
        <section class="navbar-section">
            {% if language == 'sk' %}
            <a href="https://covidmis.info">
                <img src="/images/english.png" class="mr-2" style="height: 24px">
            </a>
            {% else %}
            <a href="https://coviddez.info">
                <img src="/images/slovak.png" class="mr-2" style="height: 24px">
            </a>
            {% endif %}
        </section>
    </header>

    {% block body_content %}{% endblock %}

    <div class="text-center text-gray" style="font-size: small; margin-top: 50px; margin-bottom: 50px">
        {% if language == 'sk' %}
        Súčasťou projektu <a href="https://misdeed.fiit.stuba.sk">MISDEED</a> na <a href="https://www.fiit.stuba.sk">FIIT STU</a>.
        Beží na platforme <a href="https://documenter.getpostman.com/view/8615295/SVtPWq1j?version=latest">MonAnt</a>.
        Stránku vytvoril <a href="https://matus.tomlein.org">Matúš Tomlein</a>.
        {% else %}
        Part of the <a href="https://misdeed.fiit.stuba.sk">MISDEED</a> project at <a href="https://www.fiit.stuba.sk">FIIT STU</a>.
        Powered by the <a href="https://documenter.getpostman.com/view/8615295/SVtPWq1j?version=latest">MonAnt</a> platform.
        Put together by <a href="https://matus.tomlein.org">Matúš Tomlein</a>.
        {% endif %}
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6380950-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-6380950-6');
    </script>

</body>
</html>